pkgbase = GE-Proton
	pkgdesc = GE-Proton for Runimage container
	pkgver = 8.13
	pkgrel = 1
	url = https://github.com/GloriousEggroll/proton-ge-custom
	arch = x86_64
	license = MIT
	provides = GE-Proton
	conflicts = GE-Proton
	source = GE-Proton8-13.tar.gz::https://github.com/GloriousEggroll/proton-ge-custom/releases/download/GE-Proton8-13/GE-Proton8-13.tar.gz
	sha256sums = SKIP

pkgname = GE-Proton
